@model Substitute.Business.DataStructs.Role.RoleResultsModel
@using Substitute.Webpage.Extensions
@{
    ViewData["Title"] = "Roles access levels";
}

<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm("Index", "Role", FormMethod.Get, new { @class = "row" }))
{
<div class="col-md-6">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Name:</span>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name", ariaDescribedby = "basic-addon1" })
    </div>
</div>
<div class="col-md-5">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Access level:</span>
        @Html.DropDownListFor(m => m.AccessLevel, Model.AccessLevels.ToOptionalSelectList(), new { @class = "form-control" })
    </div>
</div>
<div class="col-md-1">
    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
</div>
}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Role name
            </th>
            <th>
                Current access level
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessLevel)
                </td>
                <td>
                    @using (Html.BeginForm("SetAccessLevel", "Role", FormMethod.Post, new { @class = "input-group" }))
                    {
                        @Html.DropDownList("AccessLevel", Model.AccessLevels.ToSelectList((byte)item.AccessLevel), new { @class = "form-control" })
                        <span class="input-group-btn"><button type="submit" class="btn btn-warning"><i class="fas fa-save"></i></button></span>
                        @Html.Hidden("Id", item.Id)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="Paging" model="Model"/>